@use './../base/colors' as color;

.section-auth{
    font-size: 1.6rem;
    display: flex;
    height: 100%;
    
    &>*{
        width: 50%;
        
    }
    
    img{
        object-fit: cover;
        object-position: bottom;
    }

    &-content{
        padding: 9.6rem;

        h1{
            font-size: 5.4rem;
            line-height: 1.7;
        }

        &>p{
            font-size: 2.4rem;
            line-height: 1.4;
        }
    }

    &-controls-buttons{
        margin-top: 5.4rem;
        display: flex;
        gap: 1rem;

        // I decided to put the buttons inside a div

        button{
            font-size: 1.6rem;
            font-weight: 500;
            background:none;
            outline: none;
            border: none;
            cursor: pointer;
            color: color.$text-color;
            padding: .5rem;

            transition: all .1s;
        }

        button:hover{
            border-bottom: .2rem solid color.$color-primary;
        }


    }
}





